<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.qwert.jst.mapper.JstZcTargetMapper">
	<resultMap id="JstZcTarget" type="org.jeecg.modules.qwert.jst.entity.JstZcTarget">
	   <!-- result属性映射非匹配字段 -->
	</resultMap>
	<resultMap id="JstZcTarget2" type="org.jeecg.modules.qwert.jst.entity.JstZcTarget2">
	   <!-- result属性映射非匹配字段 -->
	</resultMap>
	<resultMap id="GuangfaBranch" type="org.jeecg.modules.qwert.jst.entity.GuangfaBranch">
		<!-- result属性映射非匹配字段 -->
	</resultMap>
	<select id="queryJztList" parameterType="Object"  resultMap="JstZcTarget">
		SELECT * FROM jst_zc_target order by instruct,tmp
	</select>
	<select id="queryJztList2" parameterType="Object"  resultMap="JstZcTarget2">
		SELECT id,target_no,target_name,esp_config,yinzi,instruct FROM jst_zc_target order by instruct,tmp
	</select>
	<select id="queryJztList3" parameterType="Object"  resultMap="JstZcTarget">
		SELECT * FROM jst_zc_target where dev_type=#{dev_type} order by instruct,tmp
	</select>
	<select id="queryJztList4" parameterType="Object"  resultMap="JstZcTarget">
		SELECT * FROM jst_zc_target where dev_type=#{dev_type} order by instruct,address
	</select>
	<select id="queryJztList5" parameterType="Object"  resultMap="JstZcTarget">
<!--		select * from jst_zc_target where dev_type in (select origin_id from jst_zc_cat where org_user=#{orgUser}) -->
		SELECT * FROM jst_zc_target where dev_no=#{dev_no} order by instruct,address
	</select>
	<select id="queryJztPageByOrgUser" parameterType="Object"  resultMap="JstZcTarget">
			select * from jst_zc_target where dev_type in (select origin_id from jst_zc_cat where org_user=#{orgUser})
	</select>
	<select id="queryGfBranch" parameterType="Object"  resultMap="GuangfaBranch">
		select tagname,pv,time from (select tagname,pv,time from gfac order by time desc limit 10000) as t1 group by t1.tagname
		union all
		select tagname,pv,time from (select tagname,pv,time from gfwsd order by time desc limit 10000) as t2 group by t2.tagname
		union all
		select tagname,pv,time from (select tagname,pv,time from gfups order by time desc limit 10000) as t3 group by t3.tagname
		union all
		select tagname,pv,time from (select tagname,pv,time from gfdly order by time desc limit 10000) as t4 group by t4.tagname
	</select>
	<select id="queryGfTarget" parameterType="Object"  resultMap="GuangfaBranch">
		select gc.dev_no,gc.target_name,gf.tagname,gf.pv,gf.time from
		 (select tagname,pv,time from
		  (select tagname,pv,time from
		  ${from}
		  	order by time desc limit 10000) as t1
		   group by t1.tagname) gf left join gfcategory gc on gf.tagname=gc.target_no
		   where gc.dev_no is not null and gc.dev_no=#{dev_no}
	</select>
	<select id="queryGfPageByFromDevNo" parameterType="Object"  resultMap="GuangfaBranch">
		select gc.dev_no,gc.target_name,gf.tagname,gf.pv,gf.time from
		 (select tagname,pv,time from
		  (select tagname,pv,time from
		  ${from}
		  	order by time desc limit 10000) as t1
		   group by t1.tagname) gf left join gfcategory gc on gf.tagname=gc.target_no
		   where gc.dev_no is not null and gc.dev_no=#{dev_no}
	</select>
	<select id="queryJztListFromPos" parameterType="Object"  resultMap="JstZcTarget2">
		select jzt.id,jzt.dev_type,jzt.dev_no,jzt.target_no,jzt.target_name,jzt.yinzi from jst_zc_target jzt
			where jzt.target_no like "gf%" and jzt.dev_no in
				(select dev_no from jst_zc_dev where dev_pos =#{dev_pos})
			and jzt.display_mode=3 order by jzt.dev_no,jzt.target_no
	</select>
</mapper>